.ant-drawer-body {
    padding-left: 0 !important;
}
.home {
    background-color: #fff !important;
    .header {
        height: 10%;
        color: #eee;
        font-family: "Raleway", sans-serif;
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 15px !important;
        .desktop-menu {
            display: none;
        }
    }
    @media screen and (min-width: 768px) {
        .header {
            padding: 0 50px !important;
            .menu-unfold {
                display: none;
            }
            .desktop-menu {
                display: inline;
            }
        }
    }
    .authority-wrapper,
    .donation-wrapper {
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
        .authority,
        .donation {
            .authority-title,
            .donation-title {
                font-family: "Raleway", sans-serif;
                font-weight: 500;
                font-size: 24px;
                text-align: center;
            }
        }
    }
    .landing {
        .hero {
            height: 90vh;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            .hero-txt {
                text-align: center;
                .hero-title {
                    font-size: 40px;
                    font-family: "Raleway", sans-serif;
                    font-weight: 600;
                }
                .hero-details {
                    font-size: 24px;
                    font-family: "Raleway", sans-serif;
                }
            }
            .hero-img {
                width: 600px;
            }
        }
        @media screen and(max-width: 768px) {
            .hero {
                .hero-txt {
                    .hero-title {
                        font-size: 30px;
                        font-family: "Raleway", sans-serif;
                        font-weight: 600;
                    }
                    .hero-details {
                        font-size: 18px;
                        font-family: "Raleway", sans-serif;
                    }
                }
                .hero-img {
                    width: 300px;
                }
            }
        }
    }
    .register-wrapper {
        padding: 30px 20px;
        .ant-form-item-control-input-content {
            text-align: center;
        }
    }
    .tree {
        margin: 10px;
    }
    .track {
        margin: 40px 20px;
        text-align: center;
        display: block;
        .token-inp {
            margin-bottom: 20px;
            max-width: 450px;
        }
        .track-btn {
            margin-bottom: 40px;
        }
        .card {
            box-shadow: 0px 0px 16px -5px rgba(17,17,17,1);
            padding: 20px;
            border-radius: 10px;
        }
    }
}
.token-drawer-wrapper {
    .ant-drawer-body {
        padding: 24px 0 !important;
    }
    .token-drawer {
        padding: 10px !important;
        font-size: 16px;
        .search-tree-token {
            width: 100%;
            margin-bottom: 15px;
        }
        .token-array {
            margin: 10px;
        }
    }
}
